%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.

{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>},
        {compression, <<"zlib">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"makrolika">>},
        {ssl, optional}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
        %%{port, 5280},
        %%{transport, bosh}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]}
]}.

{escalus_server2_users, [
    {alice2, [
        {username, <<"alice">>},
        {server, <<"localhost2">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota2">>}]},
    {bob2, [
        {username, <<"bob">>},
        {server, <<"michał">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota3">>}]},
    {kate2, [
        {username, <<"kate">>},
        {server, <<"domain.not.in.cert">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makrowe;p">>}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.localhost">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]}
]}.

{escalus_tls_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>}
    ]}
]}.

{escalus_ldap_users,
 [
  {valid, [
           {username, <<"john">>},
           {server, <<"example.com">>},
           {password, <<"johnldap">>},
           {host, <<"localhost">>}]},
  {valid2, [
            {username, <<"dave">>},
            {server, <<"example.com">>},
            {password, <<"daveldap">>},
            {host, <<"localhost">>}]},
  {fail_passwd, [
                 {username, <<"john">>},
                 {server, <<"example.com">>},
                 {password, <<"wrong_password">>},
                 {host, <<"localhost">>}]},
  {fail_filter, [
                 {username, <<"claire">>},
                 {server, <<"example.com">>},
                 {password, <<"claireldap">>},
                 {host, <<"localhost">>}]},
  {fail_dn_filter, [
                    {username, <<"ann">>},
                    {server, <<"example.com">>},
                    {password, <<"annldap">>},
                    {host, <<"localhost">>}]},
  {fail_local_filter1, [
                        {username, <<"tom">>},
                        {server, <<"example.com">>},
                        {password, <<"tomldap">>},
                        {host, <<"localhost">>}]},
  {fail_local_filter2, [
                        {username, <<"mark">>},
                        {server, <<"example.com">>},
                        {password, <<"markldap">>},
                        {host, <<"localhost">>}]},
  {no_search, [
               {username, <<"dave">>},
               {server, <<"no.search.ldap">>},
               {password, <<"daveldap">>},
               {host, <<"localhost">>}]},
  {ltd_search, [
                {username, <<"john">>},
                {server, <<"limited.search.ldap">>},
                {password, <<"johnldap">>},
                {host, <<"localhost">>}]}
 ]}.

%% This should represent the minimum fields present, the test will not fail
%% if the vCard response contains more than these fields.
{vcard_data,
 [{expected_vcards,
   [{<<"john@example.com">>,
     [{<<"NICKNAME">>, <<"john">>},
      {<<"FN">>, <<"Doe, John">>},
      {<<"JABBERID">>, <<"john@example.com">>},
      {<<"TITLE">>, <<"Executive Director">>},
      {<<"ROLE">>, <<"Patron Saint">>},
      {<<"DESC">>, <<"active">>},
      {<<"URL">>, <<"http://john.doe/">>},
      {<<"EMAIL">>,
       [{<<"USERID">>, <<"john@mail.example.com">>}]},
      {<<"N">>,
       [{<<"FAMILY">>, <<"Doe">>},
        {<<"GIVEN">>, <<"John">>},
        {<<"MIDDLE">>, <<"F.">>}]},
      {<<"ADR">>,
       [{<<"STREET">>, <<"1899 Wynkoop Street">>},
        {<<"LOCALITY">>, <<"Denver">>},
        {<<"REGION">>, <<"CO">>},
        {<<"PCODE">>, <<"91210">>}]},
      {<<"TEL">>,
       [{<<"NUMBER">>, <<"+1 512 305 0280">>}]},
      {<<"ORG">>,
       [{<<"ORGNAME">>, <<"The world">>},
        {<<"ORGUNIT">>, <<"People">>}]}]},
    {<<"dave@example.com">>,
     [{<<"NICKNAME">>, <<"dave">>},
      {<<"FN">>, <<"Davidson, Dave">>},
      {<<"JABBERID">>, <<"dave@example.com">>}]},
    {<<"vjud.example.com">>,
     [{<<"FN">>, <<"ejabberd/mod_vcard">>}]},
    {<<"example.com">>,
     [{<<"FN">>, <<"ejabberd">>}]}
   ]},
  {john_example.com_photo_b64_md5,
   <<41,39,104,189,75,25,191,200,129,237,251,129,91,76,195,162>>},

  %% This is the md5 of the UTF-8 of В Советской России, дорога разветвляется вы
  {dave_example.com_street_md5,
   <<45,220,43,98,22,144,242,20,45,41,160,214,142,89,215,30>>},

  %% This is the UTF-8 of Москва
  {moscow_ru_utf8, <<208,156,208,190,209,129,208,186,208,178,208,176>>}
 ]}.

{search_data,
 [{expected_results,
   [{example.com_open,
     [{<<"dave@example.com">>,
       [{<<"jid-single">>,<<"jid">>,<<"Jabber ID">>,<<"dave@example.com">>},
        {<<"text-single">>,<<"FN">>,<<"Full Name">>,<<"Davidson, Dave">>},
        {<<"text-single">>,<<"GIVEN">>,<<"Given Name">>,<<"Dave">>},
        {<<"text-single">>,<<"MIDDLE">>,<<"Middle Name">>,<<"D.">>},
        {<<"text-single">>,<<"FAMILY">>,<<"Family Name">>,<<"Davidson">>},
        {<<"text-single">>,<<"NICKNAME">>,<<"Nickname">>,<<"dave">>},
        {<<"text-single">>,<<"BDAY">>,<<"Birthday">>,<<>>},
        {<<"text-single">>,<<"CTRY">>,<<"Country">>,<<>>},
        {<<"text-single">>,<<"LOCALITY">>,<<"City">>,
         <<208,156,208,190,209,129,208,186,208,178,208,176>>},
        {<<"text-single">>,<<"EMAIL">>,<<"Email">>,<<>>},
        {<<"text-single">>,<<"ORGNAME">>,<<"Organization Name">>,<<>>},
        {<<"text-single">>,<<"ORGUNIT">>,<<"Organization Unit">>,<<>>}]},
      {<<"john@example.com">>,
       [{<<"jid-single">>,<<"jid">>,<<"Jabber ID">>,<<"john@example.com">>},
        {<<"text-single">>,<<"FN">>,<<"Full Name">>,<<"Doe, John">>},
        {<<"text-single">>,<<"GIVEN">>,<<"Given Name">>,<<"John">>},
        {<<"text-single">>,<<"MIDDLE">>,<<"Middle Name">>,<<"F.">>},
        {<<"text-single">>,<<"FAMILY">>,<<"Family Name">>,<<"Doe">>},
        {<<"text-single">>,<<"NICKNAME">>,<<"Nickname">>,<<"john">>},
        {<<"text-single">>,<<"BDAY">>,<<"Birthday">>,<<>>},
        {<<"text-single">>,<<"CTRY">>,<<"Country">>,<<>>},
        {<<"text-single">>,<<"LOCALITY">>,<<"City">>,<<"Denver">>},
        {<<"text-single">>,<<"EMAIL">>,<<"Email">>,<<"john@mail.example.com">>},
        {<<"text-single">>,<<"ORGNAME">>,<<"Organization Name">>,<<"The world">>},
        {<<"text-single">>,<<"ORGUNIT">>,<<"Organization Unit">>,<<"People">>}]}]},
    {example.com_some,
     [{<<"dave@example.com">>,
       [{<<"jid-single">>,<<"jid">>,<<"Jabber ID">>,<<"dave@example.com">>},
        {<<"text-single">>,<<"FN">>,<<"Full Name">>,<<"Davidson, Dave">>},
        {<<"text-single">>,<<"GIVEN">>,<<"Given Name">>,<<"Dave">>},
        {<<"text-single">>,<<"MIDDLE">>,<<"Middle Name">>,<<"D.">>},
        {<<"text-single">>,<<"FAMILY">>,<<"Family Name">>,<<"Davidson">>},
        {<<"text-single">>,<<"NICKNAME">>,<<"Nickname">>,<<"dave">>},
        {<<"text-single">>,<<"BDAY">>,<<"Birthday">>,<<>>},
        {<<"text-single">>,<<"CTRY">>,<<"Country">>,<<>>},
        {<<"text-single">>,<<"LOCALITY">>,<<"City">>,
         <<208,156,208,190,209,129,208,186,208,178,208,176>>},
        {<<"text-single">>,<<"EMAIL">>,<<"Email">>,<<>>},
        {<<"text-single">>,<<"ORGNAME">>,<<"Organization Name">>,<<>>},
        {<<"text-single">>,<<"ORGUNIT">>,<<"Organization Unit">>,<<>>}]}]}
   ]}
 ]}.

{ejabberd_nodes, [
    internal_mnesia,
    internal_redis,
    odbc_mnesia,
    odbc_redis,
    external_mnesia,
    external_redis
]}.

%% vim: ft=erlang
