%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.

{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>},
        {compression, <<"zlib">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"makrolika">>},
        {ssl, optional}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
        %%{port, 5280},
        %%{transport, bosh}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]}
]}.

{escalus_server2_users, [
    {alice2, [
        {username, <<"alice">>},
        {server, <<"localhost2">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota2">>}]},
    {bob2, [
        {username, <<"bob">>},
        {server, <<"michał">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota3">>}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.localhost">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]}
]}.

{escalus_ldap_users,
 [
  {valid, [
           {username, <<"john">>},
           {server, <<"example.com">>},
           {password, <<"johnldap">>},
           {host, <<"localhost">>}]},
  {valid2, [
            {username, <<"dave">>},
            {server, <<"example.com">>},
            {password, <<"daveldap">>},
            {host, <<"localhost">>}]},
  {fail_passwd, [
                 {username, <<"john">>},
                 {server, <<"example.com">>},
                 {password, <<"wrong_password">>},
                 {host, <<"localhost">>}]},
  {fail_filter, [
                 {username, <<"claire">>},
                 {server, <<"example.com">>},
                 {password, <<"claireldap">>},
                 {host, <<"localhost">>}]},
  {fail_dn_filter, [
                    {username, <<"ann">>},
                    {server, <<"example.com">>},
                    {password, <<"annldap">>},
                    {host, <<"localhost">>}]},
  {fail_local_filter1, [
                        {username, <<"tom">>},
                        {server, <<"example.com">>},
                        {password, <<"tomldap">>},
                        {host, <<"localhost">>}]},
  {fail_local_filter2, [
                        {username, <<"mark">>},
                        {server, <<"example.com">>},
                        {password, <<"markldap">>},
                        {host, <<"localhost">>}]},
  {no_search, [
               {username, <<"dave">>},
               {server, <<"no.search.ldap">>},
               {password, <<"daveldap">>},
               {host, <<"localhost">>}]},
  {ltd_search, [
                {username, <<"john">>},
                {server, <<"limited.search.ldap">>},
                {password, <<"johnldap">>},
                {host, <<"localhost">>}]}
 ]}.

{ejabberd_nodes, [
    internal_mnesia,
    internal_redis,
    odbc_mnesia,
    odbc_redis,
    external_mnesia,
    external_redis
]}.

%% vim: ft=erlang
