%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.
{ejabberd_domain, <<"localhost">>}.

{escalus_users, [
    {alice, [
        {username, <<"alice">>},
        {server, <<"localhost">>},
        {password, <<"makota">>},
        {compression, <<"zlib">>}]},
    {bob, [
        {username, <<"bob">>},
        {server, <<"localhost">>},
        {password, <<"makrolika">>},
        {ssl, optional}]},
    {kate, [
        {username, <<"kate">>},
        {server, <<"localhost">>},
        {password, <<"makrowe;p">>}]},
        %%{port, 5280},
        %%{transport, bosh}]},
    {mike, [
        {username, <<"mike">>},
        {server, <<"localhost">>},
        {password, <<"nicniema">>}]}
]}.

{escalus_server2_users, [
    {alice2, [
        {username, <<"alice">>},
        {server, <<"localhost2">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota2">>}]},
    {bob2, [
        {username, <<"bob">>},
        {server, <<"michał">>},
        {host, <<"localhost">>},
        {port, 5232},
        {password, <<"makota3">>}]}
]}.

{escalus_anon_users, [
    {jon, [
        {username, <<"jon">>},
        {server, <<"anonymous.localhost">>},
        {host, <<"localhost">>},
        {auth_method, <<"SASL-ANON">>}]}
]}.

{escalus_vcard_mnesia_users,
 [{user1, [{username, <<"alice">>},
           {server, <<"all.search.modvcard">>},
           {host, <<"localhost">>},
           {password, <<"makota">>}]},
  {user2, [{username, <<"bob">>},
           {server, <<"all.search.modvcard">>},
           {host, <<"localhost">>},
           {password, <<"makota">>}]}
  ]}.

{ejabberd_nodes, [
    internal_mnesia,
    internal_redis,
    odbc_mnesia,
    odbc_redis,
    external_mnesia,
    external_redis
]}.

{vcard,
 [{common, [
            %% This is the md5 of the UTF-8 of В Советской России, дорога
            %% разветвляется вы
            {utf8_street_md5,
             <<45,220,43,98,22,144,242,20,45,41,160,214,142,89,215,30>>},
            %% This is the UTF-8 of Москва
            {moscow_ru_utf8, <<208,156,208,190,209,129,208,186,208,178,208,176>>}
            ]},
  {mnesia, [{server_jid, <<"all.search.modvcard">>},
            {directory_jid, <<"vjud.all.search.modvcard">>},
            {nonexistent_jid, <<"nonexistent@all.search.modvcard">>},
            {expected_vcards,
             [{<<"alice@all.search.modvcard">>,
               [{<<"NICKNAME">>, <<"john">>},
                {<<"FN">>, <<"Doe, John">>},
                {<<"JABBERID">>, <<"john@all.search.modvcard">>},
                {<<"TITLE">>, <<"Executive Director">>},
                {<<"ROLE">>, <<"Patron Saint">>},
                {<<"DESC">>, <<"active">>},
                {<<"URL">>, <<"http://john.doe/">>},
                {<<"EMAIL">>,
                 [{<<"USERID">>, <<"john@mail.example.com">>}]},
                {<<"N">>,
                 [{<<"FAMILY">>, <<"Doe">>},
                  {<<"GIVEN">>, <<"John">>},
                  {<<"MIDDLE">>, <<"F.">>}]},
                {<<"ADR">>,
                 [{<<"STREET">>, <<"1899 Wynkoop Street">>},
                  {<<"LOCALITY">>, <<"Denver">>},
                  {<<"REGION">>, <<"CO">>},
                  {<<"PCODE">>, <<"91210">>}]},
                {<<"TEL">>,
                 [{<<"NUMBER">>, <<"+1 512 305 0280">>}]},
                {<<"ORG">>,
                 [{<<"ORGNAME">>, <<"The world">>},
                  {<<"ORGUNIT">>, <<"People">>}]}]},
              {<<"bob@all.search.modvcard">>,
               [{<<"NICKNAME">>, <<"dave">>},
                {<<"FN">>, <<"Davidson, Dave">>},
                {<<"JABBERID">>, <<"bob@all.search.modvcard">>},
                {<<"ADR">>, [{<<"STREET">>, <<208,146,32,208,161,208,190,208,178,
                              208,181,209,130,209,129,208,186,208,190,208,185,32,
                              208,160,208,190,209,129,209,129,208,184,208,184,44,
                              32,208,180,208,190,209,128,208,190,208,179,208,176,
                              32,209,128,208,176,208,183,208,178,208,181,209,130,
                              208,178,208,187,209,143,208,181,209,130,209,129,209,
                              143,32,208,178,209,139>>}]}]},
              {<<"all.search.modvcard">>,
               [{<<"FN">>, <<"ejabberd">>},
                {<<"DESC">>, <<"Erlang Jabber Server\nCopyright (c) 2002-2011 "
                               "ProcessOne">>}]},
              {<<"vjud.all.search.modvcard">>,
               [{<<"FN">>, <<"ejabberd/mod_vcard">>},
                {<<"DESC">>, <<"ejabberd vCard module\nCopyright (c) 2003-2011 "
                               "ProcessOne">>}]}
             ]},
            {search_results,
             [{open,
               [{<<"alice@all.search.modvcard">>,
                 [{<<"jid-single">>,<<"jid">>,<<"Jabber ID">>,<<"dave@example.com">>},
                  {<<"text-single">>,<<"FN">>,<<"Full Name">>,<<"Davidson, Dave">>},
                  {<<"text-single">>,<<"GIVEN">>,<<"Given Name">>,<<"Dave">>},
                  {<<"text-single">>,<<"MIDDLE">>,<<"Middle Name">>,<<"D.">>},
                  {<<"text-single">>,<<"FAMILY">>,<<"Family Name">>,<<"Davidson">>},
                  {<<"text-single">>,<<"NICKNAME">>,<<"Nickname">>,<<"dave">>},
                  {<<"text-single">>,<<"BDAY">>,<<"Birthday">>,<<>>},
                  {<<"text-single">>,<<"CTRY">>,<<"Country">>,<<>>},
                  {<<"text-single">>,<<"LOCALITY">>,<<"City">>,
                   <<208,156,208,190,209,129,208,186,208,178,208,176>>},
                  {<<"text-single">>,<<"EMAIL">>,<<"Email">>,<<>>},
                  {<<"text-single">>,<<"ORGNAME">>,<<"Organization Name">>,<<>>},
                  {<<"text-single">>,<<"ORGUNIT">>,<<"Organization Unit">>,<<>>}]},
                {<<"bob@all.search.modvcard">>,
                 [{<<"jid-single">>,<<"jid">>,<<"Jabber ID">>,<<"john@example.com">>},
                  {<<"text-single">>,<<"FN">>,<<"Full Name">>,<<"Doe, John">>},
                  {<<"text-single">>,<<"GIVEN">>,<<"Given Name">>,<<"John">>},
                  {<<"text-single">>,<<"MIDDLE">>,<<"Middle Name">>,<<"F.">>},
                  {<<"text-single">>,<<"FAMILY">>,<<"Family Name">>,<<"Doe">>},
                  {<<"text-single">>,<<"NICKNAME">>,<<"Nickname">>,<<"john">>},
                  {<<"text-single">>,<<"BDAY">>,<<"Birthday">>,<<>>},
                  {<<"text-single">>,<<"CTRY">>,<<"Country">>,<<>>},
                  {<<"text-single">>,<<"LOCALITY">>,<<"City">>,<<"Denver">>},
                  {<<"text-single">>,<<"EMAIL">>,<<"Email">>,<<"john@mail.example.com">>},
                  {<<"text-single">>,<<"ORGNAME">>,<<"Organization Name">>,<<"The world">>},
                  {<<"text-single">>,<<"ORGUNIT">>,<<"Organization Unit">>,<<"People">>}]}
                ]}
              ]}
           ]}
 ]}.

%% vim: ft=erlang
